<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Log4J2 Configuration file.
 -->
<Configuration name="log4j2" status="info">

  <properties>
    <!-- 
      The "%cc" pattern converter is used to mask credit card numbers in log messages.
      This converter is defined in the eTDS log4j2ext.jar library
    -->
    <property name="pattern">%d{ISO8601} %7sn %level{length=4} %.32X{ItktTranId} %.32X{ClientTranId} %X{INSTN} %X{CNTX} (%X{PNR}) %c{1} -  %replace{%cc}{[\r\n]}{\u2028}%replace{%ex}{[\r\n]}{\u2028}%n</property>
    
  </properties>

  <Appenders>
    <Console name="LOG4J2_APPENDER" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}" />
    </Console>
  </Appenders>

  <Loggers>

    <!-- This application Logger -->
    <Logger name="com.aa.etds" level="trace" />

    <!-- Spring Framework Logger -->
    <Logger name="org.springframework" level="error" />

    <!-- Swagger Logger -->
    <Logger name="springfox.documentation" level="error" />

    <!-- Tomcat Logger -->
    <Logger name="org.apache.catalina" level="error" />
    <Logger name="org.apache.tomcat" level="error" />

    <!-- Jackson Logging -->
    <Logger name="com.fasterxml.jackson" level="warn" />
    <Logger name="org.codehaus.jackson" level="warn" />
    <Logger name="org.springframework.jdbc" level="TRACE"/>


    <Root level="trace">
      <AppenderRef ref="LOG4J2_APPENDER" />
    </Root>

  </Loggers>

</Configuration>
